<a href="https://colab.research.google.com/github/duehdaud/git/blob/master/KMOOC_%EA%B0%9D%EC%B2%B4%EC%A7%80%ED%96%A5%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B01_14%EC%A3%BC%EC%B0%A8_01%ED%95%9C%EB%8F%99%EB%8C%80%ED%95%99%EA%B5%90%EA%B9%80%EA%B2%BD%EB%AF%B8_%EA%B5%90%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
class Person: # Class 정의, 이름
  name = "Default Name" # member 변수
  def Print(self): # method 정의
    print("Hello, my name is ",self.name)
p1=Person() # instance 객체 생성
p1.Print() # member 변수 값 출력

Hello, my name is  Default Name

In [9]:
''' 앞의 예제에서
  #• Method를 정의할 때는 인수 ‘self’ 적어야 한다
    #• Method name은 Print()이다
  #• p1은 instance 이름이다
    #• 함수를 호출하는 형태로 class을 assign 하면
    #• 해당 class 객체와 동일한 데이터와 method를 사용 가능하다
  #• 대소문자를 구분한다
   • Class name, method name, instance name '''

' 앞의 예제에서\n  #• Method를 정의할 때는 인수 ‘self’ 적어야 한다\n    #• Method name은 Print()이다\n  #• p1은 instance 이름이다\n    #• 함수를 호출하는 형태로 class을 assign 하면\n    #• 해당 class 객체와 동일한 데이터와 method를 사용 가능하다\n  #• 대소문자를 구분한다\n   • Class name, method name, instance name '

In [10]:
'''
Class 생성자, 소멸자 1
• Instance 객체를 생성 할 때 초기화 기능 제공
  • 기본 method __init__() 를 정의한다
  • Instance 객체가 생성될 때 자동으로 호출되어 실행된다
• 소멸자 method는 instance 객체의 레퍼런스 카운트가 ‘0’ 될 때 호출
  • 기본 method __del__() 를 정의한다 '''

'\nClass 생성자, 소멸자 1\n• Instance 객체를 생성 할 때 초기화 기능 제공\n  • 기본 method __init__() 를 정의한다\n  • Instance 객체가 생성될 때 자동으로 호출되어 실행된다\n• 소멸자 method는 instance 객체의 레퍼런스 카운트가 ‘0’ 될 때 호출\n  • 기본 method __del__() 를 정의한다 '

In [16]:
class MyClass: # class 가 선언되었고
  def __init__(self,value): 
    self.value=value #value 는 네가 부른 값이 출력되게 한다
    print('Class is created! Value =',self.value)
  def __del__(self): 
    print('Class is deleted')
d=MyClass(10) # 근데 지금 MyClass 안에는 생성자하고 소멸자 밖에 없거든요. 그래서 생성자에서 출력해줍니다.
#d 끝난 후에 아무것도 call 한거나 실행한 것이 없으므로 class 가 이미 소멸자가 실행이 되어서 class가 delete 되었다는 메시지가 뜹니다.

Class is created! Value = 10
Class is deleted

In [19]:
d1=MyClass(20)

Class is created! Value = 20
Class is deleted

In [0]:
#보통 소멸자는 생성자에 비해 상대적으로 많이 사용하지 않음.
# 생성자는 자주 활용함

In [22]:
class Person:
  def __init__(self,name):
    self.name=name
  def Hello(self):
    print('Hello, my name is', self.name)
  def __del__(self):
    print(self.name,'says bye!')
p=Person('DongMyung Yeo')
print(p.name)
p.Hello()

DongMyung Yeo
Hello, my name is DongMyung Yeo

In [27]:
class MyClass:
  def __init__(self,value): 
    self.value=value 
    print('Class is created! Value =',self.value)
  def __del__(self): 
    print('Class is deleted')
class Person:
  def __init__(self,name):
    self.name=name
  def Hello(self):
    print('Hello, my name is', self.name)
  def __del__(self):
    print(self.name,'says bye!')

instance1=MyClass(100)
instance2=Person('Yeo Dongmyung')
print(instance1.value)
instance2.Hello()

Class is created! Value = 100
Class is deleted
100
Hello, my name is Yeo Dongmyung

In [29]:
class BankAccount:
  def __init__(self):
    self.balance = 0
  def withdraw(self,amount):
    self.balance -= amount
    return self.balance
  def deposit(self,amount):
    self.balance += amount
    return self.balance
a= BankAccount()
b= BankAccount()

print(a.deposit(200))
print(b.deposit(100))

print(a.withdraw(20))
print(b.withdraw(20))

200
100
180
80

In [30]:
class Employee:
    empCount = 0
    def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
    def displayCount(self):
      print("Total Employee = ", Employee.empCount)
    def displayEmployee(self):
      print("Name : ", self.name, ", Salary: ", self.salary)
emp1 = Employee("Kim", 2000)
emp2 = Employee("Choi", 5000)
emp3 = Employee("Park", 4500)
emp1.displayEmployee()
emp2.displayEmployee()
emp3.displayEmployee()
print("Total Employee: ", Employee.empCount)

Name :  Kim , Salary:  2000
Name :  Choi , Salary:  5000
Name :  Park , Salary:  4500
Total Employee:  3

In [31]:
# 이전 슬라이드의 class에서 salary를 모두 저장 한 후, 평균을 계산하는 과정을 추가하시오
class Employee:
    empCount = 0
    TotalSalary=0
    MeanSalary=0

    def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
      Employee.TotalSalary += salary
      Employee.MeanSalary = Employee.TotalSalary / Employee.empCount
    
    def displayCount(self):
      print("Total Employee = ", Employee.empCount)
    
    def displayEmployee(self):
      print("Name : ", self.name, ", Salary: ", self.salary)
    def displayMeanSalary(self):
      print("MeanSalary: ", Employee.MeanSalary)  
emp1 = Employee("Kim", 2000)
emp2 = Employee("Choi", 5000)
emp3 = Employee("Park", 4500)
emp1.displayEmployee()
emp2.displayEmployee()
emp3.displayEmployee()
print("Total Employee: ", Employee.empCount) 
emp3.displayMeanSalary()

Name :  Kim , Salary:  2000
Name :  Choi , Salary:  5000
Name :  Park , Salary:  4500
Total Employee:  3
MeanSalary:  3833.3333333333335

In [0]:
'''• 이름과 국어, 수학, 영어 점수를 가지는 클래스를 생
성한다
• 과목을 넣으면 점수를 보여주는 과정을 생성한다
• 개인별 평균 점수를 보여주는 과정을 생성한다'''

In [33]:
class Grade:
  def __init__(self, name, kor, math, eng):
    self.name = name
    self.kor = int(kor)
    self.math = int(math)
    self.eng = int(eng)

  def average(self):
    average = (self.kor+self.math+self.eng)/3
    print(self.name, "님의 평균 점수는", str(average), " 점 입니다")

  def score(self, course):
    if course == 'kor':
      s = self.kor
    elif course == 'math':
      s = self.math
    elif course == 'eng':
      s = self.eng
    else:
      s = -1
    if s == -1 :
      print("해당하는 과목의 점수가 없습니다.")
    else:
      print(self.name, "님의 ", course, " 과목의 점수는", str(s), " 점 입니다")

p1 = Grade("MH", 60, 80, 65)
p2 = Grade("JH", 80, 49, 93)
p1.score('kor')
p2.score('eng')
p2.average()

MH 님의  kor  과목의 점수는 60  점 입니다
JH 님의  eng  과목의 점수는 93  점 입니다
JH 님의 평균 점수는 74.0  점 입니다

In [34]:
class BankAccount:
	def __init__(self):
		self.balance = 500

	def withdraw(self, amount):
		self.balance -= amount
		return self.balance

	def deposit(self, amount):
		self.balance += amount
		return self.balance

a = BankAccount()
print(a.deposit(200), a.withdraw(20))

700 680